<!DOCTYPE html>
<html lang="ko">
<head>
<title><%=profile.account %>'s portfolio</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Portfolio for <%=profile.title %> <%=profile.account.charAt(0).toUpperCase() + profile.account.slice(1) %>" />
<meta name="author" content="<%=profile.account %>" />

<link rel="icon" type="image/png" href="/images/favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" />
<link rel="stylesheet" href="/css/style.css" />

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/main.js" defer></script>

</head>
<body>
	<!-- Navbar -->
    <nav id="navbar">
    	<div class="navbar__logo">
        	<i class="fab fa-diaspora"></i>
        	<a href="#"><%=profile.account %></a>
      	</div>
        <ul class="navbar__menu">
          <li class="navbar__menu__item active" data-link="#home">Home</li>
          <li class="navbar__menu__item" data-link="#about">About</li>
          <li class="navbar__menu__item" data-link="#skills">Skills</li>
          <li class="navbar__menu__item" data-link="#work">My work</li>
          <li class="navbar__menu__item" data-link="#testimonials">Testimonials</li>
          <li class="navbar__menu__item" data-link="#contact">Contact</li>
        </ul>
		<!-- Toggle button -->
    	<button class="navbar__toggle-btn"><i class="fas fa-bars"></i></button>
    </nav>

    <!-- Home -->
    <section id="home">
    	<div class="home__container">
        	<img src="<%=profile.imageProfile %>" alt="<%=profile.account %>'s profile photo" class="home__avatar" />
        	<h1 class="home__title"><%=profile.name %></h1>
        	<h2 class="home__description"><%=profile.title %></h2>
        	<button class="home__contact">Contact Me</button>
    	</div>
    </section>

    <!-- About -->
    <section id="about" class="section section__container">
    	<h1>About me</h1>
    	<p>
			<%=profile.description %>
		</p>

		<!-- Experiences -->
    	<div class="about__majors">
			<%
				for(let i = 0; i < experiences.length; i++) {
			%>
				<div class="major">
					<div class="job">
						<img src="<%=experiences[i].imageLogo %>" alt="<%=experiences[i].company %>" class="job__logo">
						<div class="job__description">
							<p class="job__name"><%=experiences[i].company %>, <%=experiences[i].title %></p>
							<p class="job__period"><%=experiences[i].fromDate %> - <%=experiences[i].toDate %></p>
							<p class="job__name"><%=experiences[i].description %></p>
						</div>
					</div>
				</div>
			<%
				}
			%>
    	</div>

		<!-- Educations -->
    	<div class="about__jobs">
        	<%
				for(let i = 0; i < educations.length; i++) {
			%>
				<div class="job">
					<img src="<%=educations[i].imageLogo %>" alt="<%=educations[i].title %>" class="job__logo">
					<div class="job__description">
						<p class="job__name">
						<%=
							{
								"AA": '준문학사',
								"AS": '준이학사',
								"BA": '인문학사', 
								"BS": '이학사',
								"BFA": '미술학사',
								"BL": '법학사',
								"MA": '인문학석사',
								"MS": '이학석사',
								"MFA": '미술학 석사',
								"MBA": '경영학 석사',
								"PhD": '박사',
								"JSD": '법학박사',
								"MD": '의학박사',
								"GRD": '졸업',
								"EX" : '교환학생'
							}[educations[i].degrees]
						%>
						</p>
						<p class="job__period"><%=educations[i].fromDate %> - <%=educations[i].toDate %></p>
					</div>
				</div>
			<%
				}
			%>
    	</div>

    	<div class="about__training">
			<%
				if(trainings["certificate"]) {
			%>
				<div class="training certificate">
					<h4><i class="fa-solid fa-certificate"></i> 자격증</h4>
					<%
						for(let i = 0; i < trainings.certificate.length; i++) {
					%>
						<div class="training-item">
							<div class="training__content">
								<p class="training__name"><%=trainings.certificate[i].title %></p>
								<p class="training__period"><%=trainings.certificate[i].awarded %></p>
								<p class="training__description"><%=trainings.certificate[i].description %></p>
							</div>
						</div>
					<%
						}
					%>
				</div>
			<%
				}
			%>

			<%
				if(trainings["education"]) {
			%>
				<div class="training">
					<h4><i class="fa-solid fa-award"></i> 교육</h4>
					<%
						for(let i = 0; i < trainings.education.length; i++) {
					%>
						<div class="training-item">
							<div class="training__content">
								<p class="training__name"><%=trainings.education[i].title %></p>
								<p class="training__period"><%=trainings.education[i].awarded %></p>
								<p class="training__description"><%=trainings.education[i].description %></p>
							</div>
						</div>
					<%
						}
					%>
				</div>
			<%
				}
			%>
			
			<%
				if(trainings["language"]) {
			%>
				<div class="training">
					<div class="training">
						<h4><i class="fa-solid fa-language"></i> 외국어</h4>
						<%
							for(let i = 0; i < trainings.language.length; i++) {
						%>
							<div class="training-item">
								<div class="training__content">
									<p class="training__name"><%=trainings.language[i].title %></p>
									<p class="training__period"><%=trainings.language[i].awarded %></p>
									<p class="training__description"><%=trainings.language[i].description %></p>
								</div>
							</div>
						<%
							}
						%>
					</div>
				</div>			
			<%
				}
			%>
    	</div>
    </section>

    <!-- Skills -->
    <section id="skills" class="section">
    	<div class="section__container">
        	<h1>Skills</h1>
        	<h3>Passion for learning new technologies.</h3>
			<div class="skillset">
				<% 
					for(skillset in skills) {
				%>
					<div class="skillset__item">
						<h3 class="skillset__title"><%=skillset%></h3>
						<% 
							for(let i = 0; i < skills[skillset].length; i++) {
								const skill = skills[skillset][i];
						%>
							<div class="skill">
								<div class="skill__description">
									<span><%=skill.name %></span>
									<span>Lvl. <%=skill.level %></span>
								</div>
								<div class="skill__bar">
									<div class="skill__value" style="width: <%=skill.level * 100 / 5 %>%"></div>
								</div>
							</div>
						<%
							}
						%>
					</div>
				<%
					}
				%>
    		</div>
    	</div>
	</section>

    <!-- Works: Projects-->
	<section id="work" class="section">
    	<div class="section__container">
        	<h1>My Work</h1>
        	<h3>Projects</h3>
        	<div class="work__categories">
        		<button class="category__btn selected" data-filter="*">
					All
					<span class="category__count">
					<%=
					projectCategories.reduce(function(allProjectCount, category) {
						allProjectCount += category.projectCount;
						return allProjectCount;
					}, 0)
					%>
					</span>
				</button>
        		
				<%
					for(let i = 0; i < projectCategories.length; i++) {
				%>
					<button class="category__btn" data-filter="<%=projectCategories[i].name %>">
						<%=projectCategories[i].name %>
						<span class="category__count">
						<%=projectCategories[i].projectCount %>
						</span>
					</button>
				<%
					}
				%>
			</div>
  
        	<div class="work__projects">
				<%
					for(let i = 0; i < projects.length; i++) {
				%>
					<a href="#" class="project" data-type="<%=projects[i].categoryName %>">
						<img class="project__img" src="<%=projects[i].image_project %>" alt="<%=projects[i].name %>">
						<div class="project__description">
							<h3><%=projects[i].name %></h3>
							<span><%=projects[i].description %></span>
						</div>
					</a>
				<%
					}
				%>
			</div>
		</div>	
    </section>

    <!-- Testimonials -->
    <section id="testimonials" class="section">
    	<div class="section__container">
    		<h1>Testimonials</h1>
        	<h3>See what they say about me</h3>
        	<div class="testimonials">
        		<div class="testimonial">
        			<img src="/images/testimonial/people1.jpg" alt="testimonial_people1" class="testimonial__avatar" />
        			<div class="testimonial__speech-bubble">
						<p>
							Full of Passion. It's hard to learning something new but never
							give up. I can do my best whatever I do, wherever I do.
						</p>
						<p class="testimonial__speech__name">
							<a href="">Bella</a> / DKU
						</p>
        			</div>
       			</div>
				<div class="testimonial">
					<div class="testimonial__speech-bubble">
						<p>
							Full of Passion. It's hard to learning something new but never
							give up. I can do my best whatever I do, wherever I do.
						</p>
						<p class="testimonial__speech__name">
							<a href="">Bella</a> / DKU
						</p>
					</div>
					<img src="/images/testimonial/people1.jpg" alt="testimonial_people1" class="testimonial__avatar">
				</div>
    		</div>
		</div>
	</section>

    <!-- Contact -->
    <section id="contact" class="section">
    	<h1 class="contact__title">Let's talk</h1>
		<% if('email' in contacts) { %>
    		<h2 class="contact__email"><%=contacts.email %></h2>
    	<% } %>
		<div class="contact__links">
			<% if('github' in contacts) { %>
				<a href="<%=contacts['github'] %>" target="_blank">
					<i class="fa-brands fa-github"></i>
				</a>
			<% } %>
			<% if('youtube' in contacts) { %>
	        	<a href="<%=contacts['youtube'] %>" target="_blank">
					<i class="fa-brands fa-youtube"></i>
				</a>
			<% } %>
			<% if('instagram' in contacts) { %>
	        	<a href="<%=contacts['instagram'] %>" target="_blank">
					<i class="fa-brands fa-instagram"></i>
				</a>
			<% } %>
			<% if('blog' in contacts) { %>
	        	<a href="<%=contacts['blog'] %>" target="_blank">
					<i class="fa-solid fa-blog"></i>
				</a>
			<% } %>
		</div>
    	<p class="contact__rights">
        	2021 Bella's Dream Coding All rights reserved
    	</p>
    </section>

    <!-- Arrow up -->
	<button class="arrow-up"><i class="fas fa-arrow-up"></i></button>
</body>
</html>
