<div class="sidebar">
    <div class="sidebar-content">
        <nav>
            <ul>
                <li class="<%=(active == 'profile' ? 'nav-active' : '') %>">
                    <a href="/dashboard/profile">
                        <span class="item-ico"><i class="fa fa-user"></i></span>
                        <span class="item-label">공개프로필</span>
                    </a>
                </li>
                <li class="<%=(active == 'experiences' ? 'nav-active' : '') %>">
                    <a href="/dashboard/experiences">
                        <span class="item-ico"><i class="fa fa-list-ul"></i></span>
                        <span class="item-label">경력관리</span>
                    </a>
                </li>
                <li class="<%=(active == 'educations' ? 'nav-active' : '') %>">
                    <a href="/dashboard/educations">
                        <span class="item-ico"><i class="fa fa-graduation-cap"></i></span>
                        <span class="item-label">학력관리</span>                                    
                    </a>
                </li>
                <li class="<%=(active == 'trainings' ? 'nav-active' : '') %>">
                    <a href="/dashboard/trainings">
                        <span class="item-ico"><i class="fa fa-award"></i></span>
                        <span class="item-label">교육/자격증 관리</span>                                   
                    </a>
                </li>
                <li class="<%=(active == 'skills' ? 'nav-active' : '') %>">
                    <a href="/dashboard/skills">
                        <span class="item-ico"><i class="fa fa-code"></i></span>
                        <span class="item-label">주요기술</span>                                   
                    </a>
                </li>
                <li class="<%=(active == 'projects' ? 'nav-active' : '') %>">
                    <a href="/dashboard/projects">
                        <span class="item-ico"><i class="fa fa-diagram-project"></i></span>
                        <span class="item-label">프로젝트</span>                                   
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>