<!DOCTYPE html>
<html lang="ko">
<head>
<title><%=profile.account %>'s portfolio</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Portfolio for <%=profile.title %> <%=profile.account.charAt(0).toUpperCase() + profile.account.slice(1) %>" />
<meta name="author" content="<%=profile.account %>" />

<link rel="icon" type="image/png" href="/images/favicon.png" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" />
<link rel="stylesheet" href="/css/style.css" />

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/js/ejs/core.js"></script>
<script src="/js/app.js"></script>
<script>
$(() => { PortfolioApp.init(<%=profile.id %>); });
</script>
</head>
<body>
	<!-- Navbar -->
    <nav id="navbar">
    	<div class="navbar__logo">
        	<i class="fab fa-diaspora"></i>
        	<a href="#"><%=profile.account %></a>
      	</div>
        <ul class="navbar__menu">
          <li class="navbar__menu__item active" data-link="#home">Home</li>
          <li class="navbar__menu__item" data-link="#about">About</li>
          <li class="navbar__menu__item" data-link="#skills">Skills</li>
          <li class="navbar__menu__item" data-link="#work">My work</li>
          <li class="navbar__menu__item" data-link="#testimonials">Testimonials</li>
          <li class="navbar__menu__item" data-link="#contact">Contact</li>
        </ul>
		<!-- Toggle button -->
    	<button class="navbar__toggle-btn"><i class="fas fa-bars"></i></button>
    </nav>

    <!-- Home -->
    <section id="home" class="section">
    	<div class="home__container">
        	<img src="<%=profile.imageProfile %>" alt="<%=profile.account %>'s profile photo" class="home__avatar" />
        	<h1 class="home__title"><%=profile.name %></h1>
        	<h2 class="home__description"><%=profile.title %></h2>
        	<button class="home__contact">Contact Me</button>
    	</div>
    </section>

    <!-- About -->
    <section id="about" class="section section__container">
    	<h1>About me</h1>
    	<p><%=profile.description %></p>
		<!-- Experiences -->
    	<div class="about__majors container-experiences">
			<div class="load-indicator"></div>
			<div class="inner"></div>
    	</div>
		<!-- Educations -->
    	<div class="about__jobs container-educations">
			<div class="load-indicator"></div>
			<div class="inner"></div>
    	</div>
		<!-- Trainings -->
    	<div class="about__training container-trainings">
			<div class="load-indicator"></div>
			<div class="inner"></div>
    	</div>
    </section>

    <!-- Skills -->
    <section id="skills" class="section">
    	<div class="section__container">
        	<h1>Skills</h1>
        	<h3>Passion for learning new technologies.</h3>
			<div class="container">
				<div class="load-indicator"></div>
				<div class="skillset inner"></div>
    		</div>
    	</div>
	</section>

    <!-- Works: Projects-->
	<section id="work" class="section">
    	<div class="section__container">
        	<h1>My Work</h1>
        	<h3>Projects</h3>
			<div class="container">
				<div class="load-indicator"></div>
				<div class="inner"></div>
			</div>
		</div>	
    </section>

    <!-- Testimonials -->
    <section id="testimonials" class="section">
    	<div class="section__container">
    		<h1>Testimonials</h1>
        	<h3>See what they say about me</h3>
        	<div class="testimonials">
        		<div class="testimonial">
        			<img src="/images/testimonial/people1.jpg" alt="testimonial_people1" class="testimonial__avatar" />
        			<div class="testimonial__speech-bubble">
						<p>
							Full of Passion. It's hard to learning something new but never
							give up. I can do my best whatever I do, wherever I do.
						</p>
						<p class="testimonial__speech__name">
							<a href="">Bella</a> / DKU
						</p>
        			</div>
       			</div>
				<div class="testimonial">
					<div class="testimonial__speech-bubble">
						<p>
							Full of Passion. It's hard to learning something new but never
							give up. I can do my best whatever I do, wherever I do.
						</p>
						<p class="testimonial__speech__name">
							<a href="">Bella</a> / DKU
						</p>
					</div>
					<img src="/images/testimonial/people1.jpg" alt="testimonial_people1" class="testimonial__avatar">
				</div>
    		</div>
		</div>
	</section>

    <!-- Contact -->
    <section id="contact" class="section">
    	<h1 class="contact__title">Let's talk</h1>
		<div class="container-contact">
			<div class="load-indicator"></div>
			<div class="inner"></div>
		</div>
    	<p class="contact__rights">
        	2023 Bella's Dream Coding All rights reserved
    	</p>
    </section>

    <!-- Arrow up -->
	<button class="arrow-up"><i class="fas fa-arrow-up"></i></button>
</body>
</html>
