<div class="sidebar">
    <div class="sidebar-header">
        <div class="profile-pic">
            <a href="#">
                <img src="<%=req.account.profileImage %>">
            </a>
        </div>
        <h1 class="vcard-names">
            <span class="name"><%=req.account.name %></span>
            <span class="title"><%=req.account.status %></span>
        </h1>
    </div>
    <div class="sidebar-content">
        <nav class="navbar">
            <ul>
                <li class="<%=(active == 'profile' ? 'nav-active' : '') %>">
                    <a href="/<%=req.account.name %>/profile">
                        <span class="item-ico"><i class="fa fa-address-card"></i></span>
                        <span class="item-label">프로필</span>
                    </a>
                </li>
                <li class="<%=(active == 'experiences' ? 'nav-active' : '') %>">
                    <a href="/<%=req.account.name %>/experiences">
                        <span class="item-ico"><i class="fa fa-list-ul"></i></span>
                        <span class="item-label">경력</span>
                    </a>
                </li>
                <li class="<%=(active == 'educations' ? 'nav-active' : '') %>">
                    <a href="/<%=req.account.name %>/educations">
                        <span class="item-ico"><i class="fa fa-graduation-cap"></i></span>
                        <span class="item-label">학력</span>                                    
                    </a>
                </li>
                <li class="<%=(active == 'trainings' ? 'nav-active' : '') %>">
                    <a href="/<%=req.account.name %>/trainings">
                        <span class="item-ico"><i class="fa fa-award"></i></span>
                        <span class="item-label">교육 및 자격증</span>                                   
                    </a>
                </li>
                <li class="<%=(active == 'skills' ? 'nav-active' : '') %>">
                    <a href="/<%=req.account.name %>/skills">
                        <span class="item-ico"><i class="fa fa-code"></i></span>
                        <span class="item-label">주요기술</span>                                   
                    </a>
                </li>
                <li class="<%=(active == 'projects' ? 'nav-active' : '') %>">
                    <a href="/<%=req.account.name %>/projects">
                        <span class="item-ico"><i class="fa fa-diagram-project"></i></span>
                        <span class="item-label">프로젝트</span>                                   
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>