<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/mypofol.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/dashboard/layout.css" rel="stylesheet">
<link href="/css/dashboard/header.css" rel="stylesheet">
<link href="/css/dashboard/sidebar.css" rel="stylesheet">
<link href="/css/dashboard/footer.css" rel="stylesheet">
<link href="/css/dashboard/experiences.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header', {
        pathName: 'dashboard',
        pathLink: '/dashboard'
    }) %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <div class="content dashboard">
            <%-include('../includes/dashboard/header') %>
            <div class="content-body">
                <%-include('../includes/dashboard/sidebar', {active: 'experiences'}) %>
                <div class="main">
                    <div class="subhead">
                        <h2>경력 관리</h2>
                    </div>
                    <div class="subbody">
                        <div class="col-12 col-md-12 position-relative">
                            <input type="radio" name="show-register-form" id="check-register-form-visible">
                            <input type="radio" name="show-register-form" id="check-register-form-invisible" checked="checked">
                            <div class="flex-buttons">
                                <label for="check-register-form-visible">
                                    <i class="fa-solid fa-list-ul"></i>
                                    경력 추가
                                    <i class="fa-solid fa-caret-down"></i>
                                </label>
                            </div>
                            <div class="box register-form">
                                <div class="box-top">
                                    <label for="check-register-form-invisible">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </label>
                                </div>                                
                                <div class="box-row">
                                    <div class="row-content">
                                        <span class="form-group">
                                            <input class="form-control" type="text" placeholder="회사/조직" value="" name="" required>
                                        </span>
                                        <fieldset class="form-group">
                                            <input class="form-control" type="month" value="" placeholder="0000-00" name="" required>
                                            <i>~</i>
                                            <input class="form-control" type="month" value="" placeholder="0000-00" name="">
                                        </fieldset>
                                        <span class="form-group">
                                            <input class="form-control" type="text" value="" placeholder="직책/타이틀" name="" required>
                                        </span>
                                        <span class="form-group">
                                            <textarea class="form-control user-profile-bio-field" placeholder="업무/성과 설명" name=""></textarea>
                                        </span>
                                        <p class="form-group">
                                            <button class="btn" type="submit">
                                                <span class="button-content">
                                                    <span class="button-label">등록</span>
                                                </span>
                                            </button>
                                            <label class="btn" for="check-register-form-invisible">
                                                <span class="button-content">
                                                    <span class="button-label">취소</span>
                                                </span>
                                            </label>                                                                   
                                        </p>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="box-header">
                                    <button><i class="fa-solid fa-trash-can"></i> 삭제</button>
                                </div>
                                <div class="box-row">
                                    <div class="row-content">
                                        <span class="form-group">
                                            <input class="form-control" type="text" placeholder="회사/조직" value="포스코 DX, Smart IT 사업실 포스코 IT 사업부, ERP 섹선" name="" required>
                                        </span>
                                        <fieldset class="form-group">
                                            <input class="form-control" type="month" value="2022-06" placeholder="0000-00" name="" required>
                                            <i>~</i>
                                            <input class="form-control" type="month" value="" placeholder="0000-00" name="">
                                        </fieldset>
                                        <span class="form-group">
                                            <input class="form-control" type="text" value="사원 / 정규직" placeholder="직책/타이틀" name="" required>
                                        </span>
                                        <span class="form-group">
                                            <textarea class="form-control description-field" placeholder="프로젝트 설명" name="">Java 풀스택 개발 / 운영</textarea>
                                        </span>
                                        <p class="form-group">
                                            <button class="btn" type="submit">
                                                <span class="button-content">
                                                    <span class="button-label">업데이트</span>
                                                </span>
                                            </button>                      
                                        </p>                                        
                                    </div>
                                </div>
                                <div class="box-bottom"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <%-include('../includes/common/footer') %>         
        </div>        
    </div>
</body>
</html>