<div class="content-header">
    <div class="content-header-inner">
        <div class="profile-pic">
            <a href="#">
                <img src="<%=req.session.authUser.imageProfile %>">
            </a>
        </div>
        <div class="profile-name">
            <h1>
                <a href="/<%=req.session.authUser.account %>" class="color-fg-default">
                    <%=req.session.authUser.name || req.session.authUser.account  %>
                    <% if(req.session.authUser.name) { %>
                    <span>(<%=req.session.authUser.account  %>)</span>
                    <% } %>
                </a>
            </h1>
            <div class="d-flex flex-items-center flex-wrap" style="color: var(--fgColor-accent, var(--color-accent-fg))">
                <p class="color-fg-muted mb-0 mr-1">
                    Your personal account
                </p>
            </div>
        </div>
    </div>
    <a href="/<%=req.session.authUser.account %>" class="btn">Go to my portfoio</a>
</div>