<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/app.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/account/layout.css" rel="stylesheet">
<link href="/css/account/sidebar.css" rel="stylesheet">
<link href="/css/account/footer.css" rel="stylesheet">
<link href="/css/account/projects.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header', {
        pathName: req.account.account,
        pathLink: "/" + req.account.account
    }) %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <%-include('../includes/account/sidebar', {active: 'projects'}) %>
        <div class="content">
            <div class="projects">
                <div class="content-inner">
                    <div class="content-header">
                        <h2>프로젝트</h2>
                    </div>
                    <div class="row align-items-top">
                        <%
                          for(let i = 0; i < projects.length; i++){
                        %>
                        <div class="col-md-6">
                          <div class="projects-col">
                              <h3>
                                  <i class="fa fa-ellipsis-vertical"></i>
                                  <span><%=projects[i].name %></span>
                              </h3>
                              <div class="projectsets">
                                  <div class="project-name">
                                      <p><%=projects[i].description %>></p>
                                  </div>
                                  <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: calc((4/5)*100%)"></div>
                                  </div>
                              </div>
                          </div>                        
                      </div>
                        <% 
                          }
                        %>                 
                    </div>
                </div>
            </div>
            <%-include('../includes/common/footer') %>
        </div>
    </div>
</body>
</html>
