<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/app.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/dashboard/layout.css" rel="stylesheet">
<link href="/css/dashboard/header.css" rel="stylesheet">
<link href="/css/dashboard/sidebar.css" rel="stylesheet">
<link href="/css/dashboard/footer.css" rel="stylesheet">
<link href="/css/dashboard/experiences.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header') %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <div class="content dashboard">
            <%-include('../includes/dashboard/header') %>
            <div class="content-body">
                <%-include('../includes/dashboard/sidebar', {active: 'experiences'}) %>
                <div class="main">
                    <div class="subhead">
                        <h2>경력 관리</h2>
                    </div>
                    <div class="subbody">
                        <div class="col-12 col-md-12">
 
                            <div class="box">
                                <div class="box-header"></div>
                                <div class="box-row">            
                                    <div class="d-flex flex-column flex-auto col-12">
                                        <span class="f5"><strong>포스코 DX, Smart IT 사업실 포스코 IT 사업부, ERP 섹선</strong></span>
                                        <span>
                                            <span class="f6">2022.6</span>
                                            <i>~</i>
                                            <span class="f6"></span>
                                        </span>
                                        <span class="f6">사원 / 정규직</span>
                                        <span class="f6">Java 풀스택 개발 / 운영</span>
                                    </div>
                                </div>
                                <div class="box-bottom"></div>
                            </div>

                            <div class="box">
                                <div class="box-header"></div>
                                <div class="box-row">            
                                    <div class="d-flex flex-column flex-auto col-12">
                                        <span class="f5"><strong>포스코 DX, Smart IT 사업실 포스코 IT 사업부, ERP 섹선</strong></span>
                                        <span>
                                            <span class="f6">2022.6</span>
                                            <i>~</i>
                                            <span class="f6"></span>
                                        </span>
                                        <span class="f6">사원 / 정규직</span>
                                        <span class="f6">Java 풀스택 개발 / 운영</span>
                                    </div>
                                </div>
                                <div class="box-bottom"></div>
                            </div>
                                                        
                        </div>
                    </div>
                </div>
            </div>
            <%-include('../includes/common/footer') %>         
        </div>        
    </div>
</body>
</html>