<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>MyPofol</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/images/favicon.ico" rel="icon">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:300;400;600;700;800&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

<link href="/css/common/app.css" rel="stylesheet">
<link href="/css/common/header.css" rel="stylesheet">
<link href="/css/common/sidepannel.css" rel="stylesheet">
<link href="/css/dashboard/layout.css" rel="stylesheet">
<link href="/css/dashboard/header.css" rel="stylesheet">
<link href="/css/dashboard/sidebar.css" rel="stylesheet">
<link href="/css/dashboard/footer.css" rel="stylesheet">
<link href="/css/dashboard/projects.css" rel="stylesheet">

<script src="https://kit.fontawesome.com/031a3163b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <%-include('../includes/common/header', {
        pathName: 'dashboard',
        pathLink: '/dashboard'
    }) %>
    <%-include('../includes/common/sidepannel') %>
    <div class="wrapper">
        <div class="content dashboard">
            <%-include('../includes/dashboard/header') %>
            <div class="content-body">
                <%-include('../includes/dashboard/sidebar', {active: 'projects'}) %>
                <div class="main">
                    <div class="subhead">
                        <h2>프로젝트 관리</h2>
                    </div>
                    <div class="subbody">
                        <div class="col-12 col-md-12 position-relative">
                            <input type="radio" name="show-register-form" id="check-register-form-visible">
                            <input type="radio" name="show-register-form" id="check-register-form-invisible" checked="checked">
                            <div class="flex-buttons">
                                <label for="check-register-form-visible">
                                    <i class="fa fa-diagram-project"></i>
                                    프로젝트 추가
                                    <i class="fa-solid fa-caret-down"></i>
                                </label>
                            </div>
                            <div class="box register-form">
                                <div class="box-top">
                                    <label for="check-register-form-invisible">
                                        <i class="fa-solid fa-caret-up"></i>
                                    </label>
                                </div>                                
                                <div class="box-row">
                                    <div class="row-content">
                                        <span class="form-group">
                                            <input class="form-control" type="text" placeholder="회사/조직" value="" name="" required>
                                        </span>
                                        <fieldset class="form-group">
                                            <input class="form-control" type="month" placeholder="0000-00" value="" name="" required>
                                            <i>~</i>
                                            <input class="form-control" type="month" placeholder="0000-00" value="" name="">
                                        </fieldset>
                                        <span class="form-group">
                                            <input class="form-control" placeholder="직책/타이틀" type="text" value="" name="" required>
                                        </span>
                                        <span class="form-group">
                                            <textarea class="form-control user-profile-bio-field" placeholder="업무/성과 설명" name=""></textarea>
                                        </span>
                                        <p class="form-group">
                                            <button class="btn" type="submit">
                                                <span class="button-content">
                                                    <span class="button-label">등록</span>
                                                </span>
                                            </button>
                                            <label class="btn" for="check-register-form-invisible">
                                                <span class="button-content">
                                                    <span class="button-label">취소</span>
                                                </span>
                                            </label>                                                                   
                                        </p>                                        
                                    </div>
                                </div>
                            </div>

                            <% projects.forEach((project) => { %>
                                <div class="box">                         
                                    <div class="box-header">
                                        <button><i class="fa-solid fa-trash-can"></i> 삭제</button>
                                    </div>
                                    <div class="box-row">
                                        <div class="row-content">
                                            <span class="form-group">
                                            <input class="form-control" type="hidden" value="<%= projects.id %>" name="project[id]" >
                                            </span>
                                            <span class="form-group">
                                                <input class="form-control" type="text" placeholder="프로젝트명" value="<%= project.name %>" name="project[name]" required>
                                            </span>
                                            <fieldset class="form-group">
                                                <input class="form-control" type="month" value="<%=project.fromDate %>" placeholder="0000-00" name="project[fromDate]" required>
                                                <i>~</i>
                                                <input class="form-control" type="month" value="<%=project.toDate %>" placeholder="0000-00" name="project[toDate]">
                                            </fieldset>
                                            <span class="form-group">
                                                <input class="form-control" type="text" placeholder="역할" value="<%=project.role %>" name="project[role]" required>
                                            </span>
                                            <span class="form-group">
                                                <textarea class="form-control description-field" placeholder="프로젝트 설명" name="project[description]"><%=project.description %></textarea>
                                            </span>
                                            <p class="form-group">
                                                <button class="btn" type="submit">
                                                    <span class="button-content">
                                                        <span class="button-label">업데이트</span>
                                                    </span>
                                                </button>                      
                                            </p>                                        
                                        </div>
                                    </div>
                                    <div class="box-bottom"></div>
                                </div>
                            <% }) %>

                        </div>
                    </div>
                </div>
            </div>
            <%-include('../includes/common/footer') %>         
        </div>        
    </div>
</body>
</html>